p {
	color: #ffffff;
	text-shadow: navy;
}

p.info {
	font-size: small;
	background-color: #dfdfdf;
}

h1 {
	background-color: #7f7fcf;
}

h2 {
	border: solid 1px black;
	margin: 5px;
}

div#zentai {
	font-family: cursive;
	color: #3f3faf;
	background: linear-gradient(#ffffff,#ffefaf);
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 200px;
	width: 10px;
}

div#zentai > div {
	padding: 5px;
	background-color: #ffefaf;
}

img.sign {
	float: right;
}