header {
	background-color: #fcedd2;
	padding: 10px 10px 0;
	width: 100%;
	border-bottom: 1px solid #1b1b1b;
	margin-bottom: 30px;
}

header p {
	font-size: 12px;
	margin: 0;
}

header h1 {
	border: 0;
	margin-left: 30px;
	margin-bottom: 6px;
}

p.mdn {
	text-align: right;
	margin-right: 30px;
	margin-bottom: 6px;
}


h2 {
    margin-top: 50px;
    /*padding-left: 20px;*/
    padding-top: 10px;
    padding-bottom: 10px;
/*    border-left:10px solid #fec988;*/
	font-weight: 800;
}

h3 {
    /*padding-left: 30px;*/
    margin-top: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
/*    border-left: 20px solid #ffe1b1;*/
	font-weight: 700;
}

h4 {
    /*padding-left: 25px;*/
    margin-top: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
/*    border-left:30px solid #fff2dc;*/
	font-weight: 600;
}

img.lg {
    display: block;
    margin: 0 0 30px;
    border: 1px solid #b9b9cf;
	max-width: 650px;
	width: 100%;
	cursor: pointer;
}

img.sm {
	display: block;
	margin: 0 0 30px;
	border: 1px solid #b9b9cf;
	max-width: 300px;
	width: 100%;
	cursor: pointer;
}

img.icon {
	display: inline;
	margin: 0 16px 0 0;
	border: 0;
	max-width: 32px;
	width: 32px;
}

main p {
    margin: 0 20px 20px;
	font-size: 16px;
	max-width: 85ch;
}

pre {
	margin: 0 20px 20px;
	max-width: 100ch;
}

p.caution, p.info {
	padding-left: 48px;
	text-indent: -48px;
}

p.caution, p.info {
	font-size: 12px;
}


.practice {
	margin-left: 12px;
	border-left: 24px solid #1e1bbf;
	border-top: 4px solid #1e1bbf;
	padding-left: 6px;
}

.task {
	margin-left: 12px;
	border-left: 24px solid #ffae1b;
	border-top: 4px solid #ffae1b;
	padding-left: 6px;
}


footer p {
	font-size: 12px;
	max-width: 100%;
}

footer {
	width: 100%;
	padding: 10px 8px 20px;
	background-color: #fcedd2;
	border-top: 1px solid #1b1b1b;
	margin-top: 30px;
}

li {
	font-size: 16px;
	max-width: 85ch;
}

main {
	max-width: 960px;
	padding: 0 40px;
	width: 70%;
}

nav {
	width: 30%;
	line-height: 1.2;
}

div.nav-content {
	margin: 0 12px;
	padding: 12px 0 12px;
	margin-bottom: 36px;
}

div.navhead {
	background-color: #cfd1fa;
}

div.navfile {
	background-color: #dedffa;
}

div.navtext {
	background-color: #ebebff;
}

nav a, nav p {
	font-size: 12px;
}
nav p {
	margin: 10px 20px 10px;
	font-weight: 700;
}
nav ul {
	margin-right:10px;
	list-style-type:none;
}

nav li.subsection {
	margin-left:10px;
}

nav li.current {
	background-color: #fcedd2
}



body {
	line-height: 1.5;
	color: #1b1b1b;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: arial,x-locale-body,sans-serif;
	padding:0;
	margin:0;
}

div#main-content {
	display: flex;
	justify-content: start;
}


dl {
	margin: 0 40px 20px;
	max-width: 85ch;
}
dt {
	font-weight: 700;
	font-size: 16px;
}
dd {
	font-size: 16px;
}


:not(pre):not(.hljs):not(td) > code {
	color: black;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #dfdfdf;
}

:not(pre):not(.hljs) > code {
	color: black;
}

table {
	margin: 12px 40px 20px;
}
thead tr {
	background-color: #e7e7e7;
}
/*
td {
	background-color: #fafafa;
}
*/
table > tbody > tr + tr > td {
	border: 0;
}
table > tbody > tr:nth-child(odd) {
	background-color: #fafafa;
}
table > tbody > tr:nth-child(even) {
	background-color: #f0f0f0;
}
